.body {
    height: 10000px;
}

.all {
    max-width: 1500px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header_logo {
    width: 10%;
}

.header_right {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    color: grey;
}

.header_navi {
    margin-right: 20px;
    text-decoration: none;
}

.top-area {
    height: auto;
    display: flex;
    flex-direction: row-reverse;
}

.top-block {
    position: relative;
}

.top-image {
    width: 60%;
    height: 60%;
    margin-top: auto;
}

.top-massege1 {
    font-family: 'Gorditas', serif;
    color: rgb(181, 24, 104);
    font-size: 4vw;
    position: absolute;
    top: 1.8em;
    left: 15%;
    line-height: 2em;

}

.top-massege2 {
    font-family: 'Gorditas', serif;
    font-size: 5vw;
    color: rgb(5, 161, 181);

}

.top-massege3 {
    font-size: 2vw;
    color: rgb(181, 24, 104);
    font-weight: bold;
    position: absolute;
    top: 14em;
    left: 15%;
}

.top-massege4 {
    font-size: 2vw;
    color: rgb(5, 161, 181);
    font-weight: bold;

}

.top-massege5 {
    font-size: 15px;
    color: gray;
    font-weight: bold;

}

.news-area {
    height: 350px;
}

.news-title {
    font-family: 'Gorditas', serif;
    color: rgb(181, 24, 104);
    font-size: 1.5vw;
    margin: 10px 0 0 25%;
}

.news-name {
    color: gray;
    font-weight: bold;
    font-size: 2vw;
    margin: 10px 0 0 25%;
}

.news-block {
    width: 60%;
    margin: 10px 0 0 25%;
    border-bottom: solid gray;
    border-top: solid gray;

}

.news-list {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid gray;
}

.news-day {
    color: gray;
}

.news {
    background-color: rgb(181, 24, 104);
    border-radius: 15px;
    color: #fff;
    padding: 2px 5px;
    margin: 0 20px;
}

.news-message {
    color: gray;
}

.about-area {
    height: auto;
    background-color: rgb(245, 245, 245);
}

.about-title {
    font-family: 'Gorditas', serif;
    color: rgb(181, 24, 104);
    font-size: 1.5vw;
    margin: 10px;
    text-align: center;
}

.about-name {
    color: gray;
    font-weight: bold;
    font-size: 2vw;
    margin: 10px;
    text-align: center;
}

.about-block {
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.about-message {
    font-size: 1.1vw;
    color: rgb(168, 168, 168);
    font-weight: bold;
    line-height: 1.5vw;
    width: auto;
}


.about-image {
    width: 30%;
    height: 40%;
    margin-top: auto;
}

.spase {
    width: 10%;
}

.service-title {
    font-family: 'Gorditas', serif;
    color: rgb(181, 24, 104);
    font-size: 1.5vw;
    margin: 50px 0 0 21%;
}

.service-area {
    height: auto;
}

.service-name {
    color: gray;
    font-weight: bold;
    font-size: 2vw;
    margin: 10px 0 0 21%;
}

.service-block {
    height: 30vw;
    display: flex;
    justify-content: center;


}

.service-img1 {
    height: 30vw;
    width: 34vw;
    background-color: rgb(181, 24, 104);
    margin-left: 10%;
}

.service-img2 {
    display: flex;
    flex-direction: column;
}

.service-img3 {
    height: 50%;
    width: 34vw;
    background-color: rgb(179, 91, 139);
    display: flex;
    justify-content: space-around;
}

.service-img4 {
    height: 50%;
    width: 34vw;
    background-color: rgb(178, 136, 158);
    display: flex;
    justify-content: space-around;
}

.service-img5 {
    height: 50%;
    width: 50%;
    margin-left: 8vw;

}

.service-img6 {
    font-size: 2vw;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-top: 5%;
}

.service-img7 {
    font-size: 1vw;
    text-align: center;
    color: #fff;
    margin: 5% 5% 5% 5%;
}

.service-img8 {
    height: 50%;
    width: 50%;
    margin-top: 3vw;
    margin-left: 2vw;

}

.service-img9 {
    font-size: 2vw;
    text-align: left;
    color: #fff;
    font-weight: bold;
    margin-top: 10%;
}

.service-img10 {
    margin-top: 1vw;
    text-align: left;
}

.service-img11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;

}

.service-img12 {
    height: 50%;
    width: 50%;
    margin-top: 3vw;
    margin-left: 2vw;
}

.service-img13 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.service-img14 {
    font-size: 2vw;
    text-align: left;
    color: #fff;
    font-weight: bold;
    margin-top: 10%;
}

.service-img15 {
    margin-top: 1vw;
    text-align: left;
}

.blog-title {
    font-family: 'Gorditas', serif;
    color: rgb(181, 24, 104);
    font-size: 1.5vw;
    margin: 50px 0 0 12%;
}

.blog-area {
    height: auto;
    background-color: rgb(245, 245, 245);

}

.blog-name {
    color: gray;
    font-weight: bold;
    font-size: 2vw;
    margin: 10px 0 0 12%;
}

.blog-block {
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;
}

.blog-card {
    height: 50%;
    width: 30%;
    text-align: center;
    border-radius: 10%;
    background-color: #fff;

}

.blog-image-area {
    position: relative;
}

.blog-logo {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(181, 24, 104);
    font-size: 2vw;
    color: #fff;
    border-radius: 40% 0 0 0;
}

.blog-logo-massege {
    margin: 10px;
}

.blog-image {
    height: 100%;
    width: 100%;
    border-radius: 10% 10% 0 0;
}

.blog-massege {
    font-size: 1.5vw;
    color: rgb(168, 168, 168);
    font-weight: bold;
    margin: 0 5% 0 5%;
}

.blog-tag {
    font-size: 1.5vw;
    color: rgb(168, 168, 168);
    margin-top: 10%;
}

.blog-tag-day {
    display: inline-block;
}

.blog-tag-tag {
    display: inline-block;
    margin-left: 10%;
}

.blog-top {
    font-size: large;
    width: 10%;
    padding: 1% 0;
    color: rgb(181, 24, 104);
    border-radius: 50px;
    text-align: center;
    margin: 1vw auto 0;
    border: solid 2px rgb(181, 24, 104);
    margin-bottom: 1vw;
}

.company-title {
    font-family: 'Gorditas', serif;
    color: rgb(181, 24, 104);
    font-size: 1.5vw;
    margin: 50px 0 0 21%;
}

.company-area {
    height: auto;


}

.company-name {
    color: gray;
    font-weight: bold;
    font-size: 2vw;
    margin: 10px 0 0 21%;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: 10px 0 0 21%;
    text-align: left;

}

table th,
table td {
    border: 1px solid #ccc;
    padding: 20px;
}

table th {
    font-weight: bold;
    background-color: #dedede;
}


.recruit-area {
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 5vw;
}

.recruit-img-area1 {
    width: 50%;
    position: relative;
}

.recruit-img1 {
    width: 100%;
}

.recruit-massege {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 3vw;


}

.recruit-img-area2 {
    width: 50%;
    position: relative;
}

.recruit-img2 {
    width: 100%;
}

.inquiry-area {
    height: auto;
    margin-top: 5vw;
}

.iq-massege {
    text-align: center;
    font-size: 1.5vw;
    color: rgb(168, 168, 168);
    font-weight: bold;
}

.iq-massege2 {
    border-left: 3px solid #B71568;
    font-size: 3vw;
    text-align: center;
    margin-left: 50%;
    margin-top: 1%;
    color: #fff;

}

.iq-logo {

    position: relative;
    background: linear-gradient(#fd1e8f, #B41768);
    width: 200px;
    display: block;
    padding: 18px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    margin: 1% auto;

}

.iq-logo img {
    width: 20%;
    height: auto;
    margin-right: 15px;
    vertical-align: -10px;
}

.copy {
    margin: 100px auto;
}

.copy1 {
    text-align: center;
}


.iq-logo::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10%;
    background: url(../img/mail.svg) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
}